.dashboard {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(233, 219, 219);
  background: linear-gradient(
    90deg,
    rgba(233, 219, 219, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(204, 246, 255, 1) 100%
  );
  width: 85%;
  height: 100%;
}
.block {
  display: flex;
  justify-content: space-between;
}
.subBlock {
  width: 263px;
  height: 280.5px;
  border: 1px solid #ca6f1e;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  padding-top: 20px;
  align-content: auto;
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  width: 100%;
  background-color: white;
}
th {
  height: 56px;
  font-size: 18px;
}
td {
  height: 48px;
  font-size: 16px;
}
.orders {
  display: flex;
  margin: 10px;
}
.total {
  font-size: 20px;
}
.change {
  padding: 7px;
  margin-left: auto;
  margin-right: 0;
  font-size: 10px;
  color: white;
  border-radius: 10px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
